<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><b> О сайте: <br></b>
        Добро пожаловать на сайт! <br>
        Если замыслом является только прототип, или наброски, на основе которых вы будете разрабатывать полноценную версию, используйте изображения из вкладки Элементы для создания мокапа сайта, и скачайте готовый дизайн в JPG, PNG, PDF. А с опцией публикации «Cайт» вы получите посадочную страницу, которой можно делиться с партнерами или клиентами прямо сейчас.
    </p>
</body>
</html>